<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <link rel="stylesheet" href="../static/dist/css/framework7.material.min.css">
    <!-- It should be included After main Framework7 styles -->
    <link rel="stylesheet" href="../static/dist/css/framework7.material.colors.min.css"
    <!-- Path to Framework7 Library CSS -->
    <link rel="stylesheet" href="../static/dist/css/framework7.ios.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../static/css/my-app.css">
  </head>
  <body>
  <div class="content-block-title">Labels and inputs</div>
  <div class="list-block">
    <ul>
      <!-- Text inputs -->
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">Name</div>
            <div class="item-input">
              <input type="text" placeholder="Your name">
            </div>
          </div>
        </div>
      </li><br>
      <div class="col-50">
          <a href="#" class="button button-big button-fill color-red" name="submit">Submit</a>
      </div>
    </div>
    </div>
  </body>
</html>